
.benefits {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}

.benefits__block:nth-child(1) {
    margin-right: 80px;
}

.benefits__block {
    max-width: 570px;
    padding: 41px 51px 55px 52px;
    background-color: #F2F2F2;
}

.block__top {
    display: flex;
    align-items: center;
}

.block-top__img--left {
    margin-right: 62px;
    max-width: 100px;
    min-width: 50px;
}

.block-top__img--right {
    margin-right: 47px;
    max-width: 134px;
    min-width: 60px;
}

.block__title {
    margin: 0px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.block__descr {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.block__link {
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
}